.container {
    background-color: #424162;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .start {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
  }
  
  .stop {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 25px;
    cursor: pointer;
  }
  
  .reset {
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 15px;
    margin: 10 10 10 10;
    cursor: pointer;
  }